@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.ant-tabs-content-holder {
  margin-top: 45px;
}
.ant-tabs-tab {
  margin: 0 !important;
}
.button-next-indication::after {
  content: "";
  position: absolute;
  padding: 82px;
  border: solid 0.5px rgba(0, 0, 0, 0.46);
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
}

.button-next-indication:hover::after {
  padding: 36px;
}

@media (max-width: 767) {
  .button-next-indication::after {
    content: "";
    position: absolute;
    padding: 42px;
    border: solid 0.5px rgba(0, 0, 0, 0.46);
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
  }

  .button-next-indication:hover::after {
    padding: 26px;
  }
}
.plyr__controls {
  transform: translate(-50%, -50%) !important;
  top: 50% !important;
  left: 50% !important;
  width: 100% !important;
  height: 100% !important;
}

.plyr__control {
  margin-left: auto !important;
}

.plyr__control:hover {
  background: none !important;
}

.plyr__control svg {
  width: 70px !important;
  height: 70px !important;
}

.menu__link {
  line-height: 2;
  position: relative;
}

.menu__link::before {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #000;
  position: absolute;
  bottom: -0.25rem;
  right: 0;
  transition:
    right 0.4s,
    width 0.4s,
    left 0.4s;
}

.menu__link:hover::before {
  width: 100%;
  left: 0;
}

.input-wrapper {
  width: fit-content;
  height: 45px;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
}

.icon {
  width: 30px;
  fill: rgb(0, 0, 0) !important;
  color: rgb(0, 0, 0);
  margin-left: 8px;
  transition: all 0.3s;
}
.input {
  max-width: 260px;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding-left: 15px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 1em;
}
.input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  -webkit-text-fill-color: #000000;
}
.Subscribe-btn {
  height: 100%;
  width: 70px;
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  background-color: #000000;
  font-weight: 500;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.3s;
}
.arrow {
  position: absolute;
  margin-right: 150px;
  transition: all 0.3s;
}
.input-wrapper:active .icon {
  transform: scale(1.3);
}
.Subscribe-btn:hover {
  color: rgb(0, 0, 0);
}
.Subscribe-btn:hover .arrow {
  margin-right: 0;
  animation: jello-vertical 0.9s both;
  transform-origin: right;
}

@keyframes jello-vertical {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
.Subscribe-btn:active {
  transform: scale(0.9);
}

.chakra-toast__inner > div {
  background: #e4e4e5 !important;
}
.chakra-alert[data-status="error"].css-i2y05k {
  background: #e4e4e5 !important;
  border-left: solid 3px #000 !important;
  font-size: 15px !important;
}

.chakra-alert__icon[data-status="error"] {
  color: #000 !important;
}

.chakra-alert[data-status="success"].css-1af42be {
  background: #e4e4e5 !important;
  border-left: solid 3px #000 !important;
  font-size: 15px !important;
}

.chakra-alert__icon[data-status="success"] {
  color: #000 !important;
}

.card {
  max-width: 260px;
  margin-top: 60px;
  width: 100%;
  height: fit-content;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socialContainer {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 1s;
}
.containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
}
.containerTwo:hover {
  background-color: #ff0000;
  transition-duration: 0.3s;
}
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: 0.3s;
}
.containerFour:hover {
  background-color: #128c7e;
  transition-duration: 0.3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.hover-content {
  transform-style: preserve-3d;
}
