@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.ant-tabs-content-holder {
  margin-top: 45px;
}
.ant-tabs-tab {
  margin: 0 !important;
}
.button-next-indication::after {
  content: "";
  position: absolute;
  padding: 82px;
  border: solid 0.5px rgba(0, 0, 0, 0.46);
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
}

.button-next-indication:hover::after {
  padding: 36px;
}

.plyr__controls {
  transform: translate(-50%, -50%) !important;
  top: 50% !important;
  left: 50% !important;
  width: 100% !important;
  height: 100% !important;
}

.plyr__control {
  margin-left: auto !important;
}

.plyr__control:hover {
  background: none !important;
}

.plyr__control svg {
  width: 70px !important;
  height: 70px !important;
}

.menu__link {
  line-height: 2;
  position: relative;
}

.menu__link::before {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #000;
  position: absolute;
  bottom: -0.25rem;
  right: 0;
  transition:
    right 0.4s,
    width 0.4s,
    left 0.4s;
}

.menu__link:hover::before {
  width: 100%;
  left: 0;
}

