@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.ant-tabs-content-holder {
  margin-top: 45px;
}
.ant-tabs-tab {
  margin: 0 !important;
}
.button-next-indication::after {
  content: "";
  position: absolute;
  padding: 82px;
  border: solid 0.5px rgba(0, 0, 0, 0.46);
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
}

.button-next-indication:hover::after {
  padding: 36px;
}

.plyr__controls {
  transform: translate(-50%, -50%) !important;
  top: 50% !important;
  left: 50% !important;
  width: 100% !important;
  height: 100% !important;
}

.plyr__control {
  margin-left: auto !important;
}

.plyr__control:hover {
  background: none !important;
}

.plyr__control svg {
  width: 70px !important;
  height: 70px !important;
}
